portainer.home.jonsim.com {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}

	reverse_proxy portainer:9000
}

:80 {
	root * /var/www/html
	encode gzip

	php_fastcgi php:9000

	file_server

	@hidden {
		path */.*
		not path /.well-known/*
	}
	respond @hidden 404
}
